#u69
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u75
{
	position: relative;
}

#u71-4
{
	line-height: 34px;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: bold;
	position: relative;
}

