.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
}

#u4028
{
	z-index: 2;
	width: 960px;
}

#u4029
{
	z-index: 7;
	width: 93px;
	margin-right: -10000px;
	left: -2px;
}

#u4031-4
{
	z-index: 3;
	width: 572px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 194px;
}

#u2557
{
	z-index: 106;
	width: 959px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	padding-bottom: 7px;
	position: relative;
}

#u2559-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 303px;
}

#tab-panelu2479
{
	z-index: 19;
	width: 960px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2514
{
	z-index: 20;
	width: 960px;
	position: relative;
}

#u2515
{
	z-index: 21;
	width: 319px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u2515:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 319px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u2515.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 319px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u2516-4
{
	z-index: 22;
	width: 319px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2515:hover #u2516-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u2523
{
	z-index: 26;
	width: 320px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 319px;
	border-width: 1px 0px 1px 1px;
}

#u2523:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 320px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u2523.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 320px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u2524-4
{
	z-index: 27;
	width: 320px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2523:hover #u2524-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u2519
{
	z-index: 31;
	width: 319px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 639px;
}

#u2519:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 319px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2519.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 319px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u2522-4
{
	z-index: 32;
	width: 319px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2519:hover #u2522-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u2515.TabbedPanelsTabSelected #u2516-4,#u2523.TabbedPanelsTabSelected #u2524-4,#u2519.TabbedPanelsTabSelected #u2522-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u2515.TabbedPanelsTabSelected #u2516-4 p,#u2523.TabbedPanelsTabSelected #u2524-4 p,#u2519.TabbedPanelsTabSelected #u2522-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2480
{
	z-index: 36;
	width: 960px;
	position: relative;
}

#u2481
{
	z-index: 37;
	width: 958px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 181px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u2563
{
	z-index: 44;
	width: 346px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 16px;
}

#u2484-6
{
	z-index: 38;
	width: 439px;
	min-height: 266px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 469px;
}

#u2484-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u2489
{
	z-index: 46;
	width: 958px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 201px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#pu2566
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 21px;
}

#u2566
{
	z-index: 70;
	width: 390px;
	position: relative;
	margin-right: -10000px;
}

#u2569
{
	z-index: 72;
	width: 399px;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
}

#u2569_clip
{
	overflow: hidden;
	width: 399px;
	height: 133px;
}

#u2569_img
{
	margin: 21px 4px -21px -4px;
}

#u2492-23
{
	z-index: 47;
	width: 292px;
	min-height: 270px;
	border-width: 13px;
	border-style: solid;
	border-color: #000000;
	background-color: #C69C6D;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 516px;
}

#u2492
{
	line-height: 24px;
}

#u2492-3,#u2492-5,#u2492-7,#u2492-9,#u2492-11,#u2492-13,#u2492-15,#u2492-17,#u2492-19,#u2492-21
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2492-2,#u2492-4,#u2492-6,#u2492-8,#u2492-10,#u2492-12,#u2492-14,#u2492-16,#u2492-18,#u2492-20
{
	font-size: 16px;
	line-height: 28px;
}

#u2485
{
	z-index: 74;
	width: 958px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 134px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u2582
{
	z-index: 100;
	width: 500px;
	min-height: 404px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 47px;
}

#pu2486-25
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 595px;
}

#u2486-25
{
	z-index: 75;
	width: 292px;
	min-height: 230px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2486-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u2484-4,#u2486-4,#u2486-6,#u2486-8,#u2486-10
{
	text-align: justify;
	line-height: 20px;
	color: #999999;
}

#u2486-11
{
	line-height: 20px;
	color: #999999;
}

#u2486-12
{
	line-height: 20px;
	color: #999999;
	font-weight: bold;
}

#u2486-15,#u2486-18,#u2486-21
{
	font-size: 14px;
	line-height: 20px;
	color: #6B6B6B;
	font-weight: bold;
}

#u2486-14,#u2486-17,#u2486-20
{
	font-weight: normal;
}

#u2486-22,#u2486-23
{
	font-size: 18px;
	line-height: 25px;
	color: #6B6B6B;
	font-weight: bold;
}

#u2585
{
	z-index: 101;
	width: 230px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #29ABE2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 20px;
	margin-left: 14px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u2584-4
{
	z-index: 102;
	position: relative;
	width: 196px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 19px;
}

#u2584-4_img
{
	display: block;
	vertical-align: top;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u4038
{
	z-index: 9;
	width: 963px;
	left: -2px;
	margin-top: 1px;
}

#u4035
{
	z-index: 10;
	width: 961px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u4037-4
{
	z-index: 15;
	width: 62px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 61px;
}

#u4036-4
{
	z-index: 11;
	width: 97px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 812px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

