#u69
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u72
{
	position: relative;
}

#u71-4
{
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	position: relative;
}

