.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
}

#u4028
{
	z-index: 2;
	width: 960px;
}

#u4029
{
	z-index: 7;
	width: 93px;
	margin-right: -10000px;
	left: -2px;
}

#u4031-4
{
	z-index: 3;
	width: 572px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 194px;
}

#u2894
{
	z-index: 19;
	width: 961px;
	position: relative;
}

#u2895
{
	z-index: 20;
	width: 959px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u2896-4
{
	z-index: 21;
	width: 440px;
	min-height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 33px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 269px;
}

#tab-panelu2897
{
	z-index: 25;
	width: 960px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2898
{
	z-index: 26;
	width: 960px;
	position: relative;
}

#u2903
{
	z-index: 27;
	width: 319px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u2903:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 319px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u2903.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 319px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u2906-4
{
	z-index: 28;
	width: 319px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u2903:hover #u2906-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2907
{
	z-index: 32;
	width: 320px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 319px;
	border-width: 1px 0px 1px 1px;
}

#u2907:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 320px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u2907.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 320px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u2910-4
{
	z-index: 33;
	width: 320px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u2907:hover #u2910-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2899
{
	z-index: 37;
	width: 319px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 639px;
}

#u2899:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 319px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2899.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 319px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u2900-4
{
	z-index: 38;
	width: 319px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u2899:hover #u2900-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2903.TabbedPanelsTabSelected #u2906-4,#u2907.TabbedPanelsTabSelected #u2910-4,#u2899.TabbedPanelsTabSelected #u2900-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2929
{
	z-index: 42;
	width: 960px;
	position: relative;
}

#u2936
{
	z-index: 43;
	width: 958px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 351px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u2949
{
	z-index: 51;
	width: 551px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 8px;
}

#u2937-7
{
	z-index: 44;
	width: 369px;
	min-height: 191px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 577px;
}

#u2937-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u2940
{
	z-index: 53;
	width: 958px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 160px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#pu2954
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 28px;
}

#u2954
{
	z-index: 72;
	width: 207px;
	margin-left: 113px;
	position: relative;
}

#u2960
{
	z-index: 74;
	width: 441px;
	position: relative;
}

#u2960_img
{
	padding-right: 1px;
}

#u2945-18
{
	z-index: 54;
	width: 292px;
	min-height: 270px;
	border-width: 13px;
	border-style: solid;
	border-color: #000000;
	background-color: #C69C6D;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 566px;
}

#u2945-2,#u2945-4,#u2945-6,#u2945-8,#u2945-10,#u2945-12,#u2945-14,#u2945-16
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2945,#u2945-3,#u2945-5,#u2945-7,#u2945-9,#u2945-11,#u2945-13,#u2945-15
{
	font-size: 16px;
	line-height: 28px;
}

#u2930
{
	z-index: 76;
	width: 958px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 196px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u2967
{
	z-index: 107;
	width: 500px;
	min-height: 404px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 63px;
}

#pu2931-25
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 609px;
}

#u2931-25
{
	z-index: 77;
	width: 270px;
	min-height: 215px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2931-2
{
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-weight: bold;
}

#u2931-11,#u2931-15,#u2931-19
{
	color: #000000;
	font-weight: bold;
}

#u2931-20
{
	color: #000000;
	font-weight: normal;
}

#u2937-4,#u2937-5,#u2931-4,#u2931-6,#u2931-8,#u2931-9,#u2931-10,#u2931-13,#u2931-14,#u2931-17,#u2931-18,#u2931-21,#u2931-22
{
	text-align: justify;
	line-height: 20px;
	color: #999999;
}

#u2931-23
{
	line-height: 20px;
	color: #999999;
}

#u2933
{
	z-index: 102;
	width: 230px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #29ABE2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 23px;
	margin-left: 4px;
	margin-top: 38px;
	position: relative;
}

#u2932-4
{
	z-index: 103;
	position: relative;
	width: 196px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 21px;
}

#u2932-4_img
{
	display: block;
	vertical-align: top;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u4038
{
	z-index: 9;
	width: 963px;
	left: -2px;
	margin-top: 1px;
}

#u4035
{
	z-index: 10;
	width: 961px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u4037-4
{
	z-index: 15;
	width: 62px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 61px;
}

#u4036-4
{
	z-index: 11;
	width: 97px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 812px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

